.element__trash{
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  border: 0;
  cursor: pointer;
  background-color: #00000073;
  box-shadow: 0 0 5px black;
}
.element__trash:hover{
  opacity: .6;
}
